@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Work+Sans:400');

body {
    font-family: Work Sans, sans-serif;
    font-size: 1.4em;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(0, 0%, 18%);
    margin: 0;
}

h1, h2 {
    font-family: Fugaz One, sans-serif;
    font-size: 2.3em;
    color: hsl(272, 20%, 58%);
    line-height: 1.2;
    margin: 0 0 40px 0;
}

h1.hero {
    font-family: Fugaz One, sans-serif;
    font-size: 4em;
    background: hsl(0, 0%, 100%);
    color: transparent;
    margin: 0;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-animation: none;
    animation: none;
}

p {
    margin: 40px 0 40px 0;
}

p.note {
    font-size: 0.8em;
}

.colorful {
    color: hsl(272, 20%, 58%);
    -webkit-animation: header 5s ease forwards infinite;
    animation: header 5s ease forwards infinite;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@-webkit-keyframes hero {
    0% {
        background-color: hsl(272, 20%, 58%);
    }
    25% {
        background-color: hsl(330, 39%, 67%);
    }
    50% {
        background-color: hsl(229, 25%, 64%);
    }
    75% {
        background-color: hsl(185, 35%, 67%);
    }
    to {
        background-color: hsl(272, 20%, 58%);
    }
}

@keyframes hero {
    0% {
        background-color: hsl(272, 20%, 58%);
    }   
    25% {
        background-color: hsl(330, 39%, 67%);
    }  
    50% {
        background-color: hsl(229, 25%, 64%);
    }
    75% {
        background-color: hsl(185, 35%, 67%);
    }
    to {
        background-color: hsl(272, 20%, 58%);
    }
}

@-webkit-keyframes header {
    0% {
        color: hsl(272, 20%, 58%);
    }
    25% {
        color: hsl(330, 39%, 67%);
    }
    50% {
        color: hsl(229, 25%, 64%);
    }
    75% {
        color: hsl(185, 35%, 67%);
    }
    to {
        color: hsl(272, 20%, 58%);
    }
}

@keyframes header {
    0% {
        color: hsl(272, 20%, 58%);
    }   
    25% {
        color: hsl(330, 39%, 67%);
    }  
    50% {
        color: hsl(229, 25%, 64%);
    }
    75% {
        color: hsl(185, 35%, 67%);
    }
    to {
        color: hsl(272, 20%, 58%);
    }
}

a, a:visited {
    color: hsl(225, 100%, 40%);
    text-underline-position: under;
    text-decoration: wavy underline hsl(225, 100%, 40%);
}

ul {
    margin-top: -3%;
    list-style: none;
}

ul li:nth-child(n+2) {
    margin-top: 2%;
}

ul li:before {
    content: '🍥';
    margin-left: -1.6em;
    padding-right: 0.5em;
}

section {
    display: flex;
}

section.hero {
    height: 100vh;
    align-items: center;
    justify-content: center;
    -webkit-animation: hero 5s ease forwards infinite;
    animation: hero 5s ease forwards infinite;
}

section:nth-child(even){
    flex-direction: row-reverse;
}

section div {
    width: 50%;
}

section div.text {
    padding: 60px;
}

div.full-image {
    height: 100vh;
    background-size: cover;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

div.image-1 {
    background-image: url("../media/folio-about-itpcamp.jpg");
    background-position: center center;
}

div.image-2 {
    background-image: url(../media/folio-projects-p5jsshowcase.png);
    background-position: center left;
}

div.image-3 {
    background-image: url(../media/folio-projects-clean.png);
    background-position: center left;
}

div.image-4 {
    background-image: url(../media/folio-projects-locales.jpg);
    background-position: center center;
}

div.image-5 {
    background-image: url(../media/folio-etc-beach.jpg);
    background-position: center center;
}

@media (max-width: 800px) {
    body {
        font-size: 1.2em;
    }

    h1 {
        font-size: 2em;
    }

    h1.hero {
        font-size: 2em;
        text-align: center;
    }

    section {
        display: block;
    }

    section.hero {
        display: flex;
        padding: 2em;
    }

    section div {
        width: 85%;
    }

    section div.text {
        padding: 30px;
    }

    div.full-image {
        width: 100%;
    }
    
    div.image-3 {
        background-position: center center;
    }
    
    div.image-5 {
        background-position: center top;
    }
}
